/* base */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    width: 100%;
    position: fixed;
    height: 149px;
    background-color: #ffffff;
    z-index: 1;
    
}
.header__logo{
    display: flex;
    justify-content: space-between;
    height: 96px;
}
.header__logo img{
    padding: 0 60px 10px 0 ;
}
.header__navbar{
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 55px;
    
    
    
}
.navbar__list{
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 5px;
}
.navbar__item{
    padding:15px 3px 20px 5px;
    
    
}

.navbar__item a{
    text-decoration: none;
    color:#777;
    font-weight: 500;
    font-size: 1rem;
}
/* carousel */

.carousel img{
    width: 1200px;
    padding: 165px 0 0 0 ;
    
}
/* intro */
#intro{
    text-align: center;
    margin: 20px 0;
}
#intro h1{
    padding: 10px;
}
#intro img{
    padding-bottom: 20px;
}

/* product */
#product{
    margin: 50px 0;
}
#product h1{
    padding: 10px;
}
.product__img{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.product__img-item h3{
   font-size: 0.9rem;
   color: #ba2920;
   text-align: left;
   font-weight: 500;
}
.product__img-item p{
    font-size: 0.8rem; 
    text-align: left;
    padding-top: 5px;
    
 }
/* event  */
.event__content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.event__img-left{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.event__img-left img{
    padding: 10px 12px 0 12px;
}
.event__img-right img{
    padding: 10px;
}
.event__img-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.event__img-left-wrap{
    position: relative;
}
.event__img-left-wrap img{
    width: 100%;
    height: 100%;
}
.event__img-left-wrap h2{
    position: absolute;
    z-index: 1;
    color: #ffffff;
    bottom: 40px;
    left: 20px;
    font-size: 1.25rem;
}
.event__img-right-wrap{
    position: relative;
}
.event__img-right-wrap h2{
    position: absolute;
    z-index: 1;
    color: #ffffff;
    left: 10px;
    bottom: 25px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.5);
}           